* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* header */
header{
    padding: 30px;
    text-align: center;
    background-image: url(../resources/Headerimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
    color: whitesmoke;
    background-position: bottom center;
}

header div {
    border-radius: 12px;
    font-size: 22px;
    text-transform: capitalize;
}

header h2 {
    margin-top: 250px;
}

/* Fin Header */

/* inicio CSS NAV */

.navbar-nav li a {
    margin: 10px;
}

.boton-registro {
    background-color: #d40303;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
    color: white;
}

.boton-registro:hover {
    background-color: #ffb90883;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

/* FIN NAV */


/* INICIO MAIN */

/* TEXTO PRINCIPAL */

.texto h1 {
    font-size: 50px;
    text-transform: justify;
    text-align: center;
    margin: 10px;
}

.texto h3 {
    font-style: italic;
    text-align: center;
    text-decoration: underline solid;
}


/* CARTAS */
.contenedor {
    display: flex;
    background-color: #f0f0f0;
    flex-direction: row;
    margin: 50px;
    flex-wrap: wrap;
}

.carta {
    width: 200px;
    height: 200px;
    margin: 35px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 15);
    text-align: center;
}

.carta img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #333;
}

.carta p {
    text-transform: capitalize;
    text-decoration: underline;
    font-style: italic;
    padding: 15px;
    color: #000000;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

body {
    background: #eeeded;
  }
  
  .card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#FFF;
  }
  
  .card:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .card > .card-inner {
    padding:10px;
  }
  .card .header h2, h3 {
    margin-bottom: 0px;
    margin-top:0px;
  }
  .card .header {
    margin-bottom:5px;
  }
  .card img{
    width:100%;
  }

/* Accordion */

.accordion1 {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    margin: 35px;
    justify-content: space-around;
}


/* FOOTER INICIO */
footer {
    background-color: #ffba08;
    padding: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 10px;
}

footer a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #fff;
}






/* Colores https://coolors.co/262626-fbfcff-ffba08 b w y */